/* aqui começa o menu */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-weight: lighter;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: #1a1a1a;
    height: 100%;
    width: 100%;
    flex-direction: column;
    color: white;
}

h1 {
    margin-top: 20px;
    color: white;
}

header {
    gap: 30px;
    padding: 4px;
    width: 100%;
    height: 107px;
    background-color: #494949;
    display: flex;
    align-items: start;
    justify-content: center;
}

nav {
    width: 1212px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

nav a {
    display: flex;
    text-decoration: none;
    width: 250px;
    height: 53px;
    background-color: #ED5151;
    color: white;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    border-radius: 16px;
}

nav a:hover {
    background-color: #a61717;
}

input {
    margin-right: 10px;
    width: 315px;
    height: 53px;
    border-radius: 16px;
    padding: 10px;
}

input:hover {
    border: none;
    box-shadow: #a61717 0px 0px 10px;
}


/* aqui acaba o menu */


/* aqui começa o conteudo */


/* aqui começa o conteudo */

main {
    padding: 50px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    gap: 50px;
    flex-direction: column;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 120px;
}

.conteudo {
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 496px;
    height: 390px;
    background-color: #494949;
    border-radius: 16px;
}

.conteudo:hover {
    box-shadow: white 0px 0px 10px;
}

.conteudo img {
    margin-bottom: 24px;
}

h2 {
    margin-bottom: 35px;
}